<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.8" />
    <title><%= set.name %></title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body class="pb-8">
    <!-- responsive navbar -->
    <%- include('partials/navbar', {page:'/lego/set'}) %>
    <div class="flex justify-center mb-4">
      <!-- hero component -->
      <div
        class="hero h-screen md:h-96 md:w-3/4 md:m-8 md:rounded-lg"
        style="background-image: url('<%= set.img_url %>')"
      >
        <div class="hero-overlay bg-opacity-60"></div>
        <div class="hero-content text-center text-neutral-content">
          <div class="max-w-md">
            <h1 class="mb-5 text-5xl font-bold">
              <a href="/lego/sets"><%= set.name %></a>
            </h1>
            <p class="mb-5">
              Below, you will find the detailed information about the set '<%=
              set.name %>'.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- set -->
    <div class="container mx-auto">
      <div class="grid grid-cols-1 md:grid-cols-2 mt-8 gap-4">
        <div class="flex justify-center">
        <img class="rounded-lg" src="<%= set.img_url %>" />
        </div>
        <div class="p-4 border-2 border-neutral rounded-lg bg-neutral-focus">
          <p class="my-4"><b>Set Name:</b> <%= set.name %></p>
          <p class="my-4"><b>Year Released:</b> <%= set.year %></p>
          <p class="my-4"><b>Theme:</b> <%= set.Theme.name %></p>
          <p class="my-4"><b>Number of Parts:</b> <%= set.num_parts %></p>
          <p id="quote" class="mt-8"></p>
          <a class="btn btn-secondary mt-4" href="#" onclick="history.back(); return false;">Return</a>
          <a class="btn btn-primary mx-4" href="/lego/editSet/<%= set.set_num %>">Edit Set</a>
        </div>
      </div>
    </div>
  </body>
</html>

<script>
  document.addEventListener("DOMContentLoaded", async () => {
    fetch("https://quotable.io/random")
      .then((res) => res.json())
      .then((q) => {
        document.querySelector("#quote").innerHTML = `
        "${q.content}"
        <p class="mt-4">- <i>${q.author}</i></p>
        `;
      });
  });
</script>
